<ng-container *ngIf="workers.length > 0">
  <div class="row">
    <div class="col-12">
      <h5>{{ title }}</h5>
      <div class="col-12 m-2">
        <span class="form-text text-muted">Поиск сотрудника по фамилии:</span>
        <input type="text" class="form-control" [(ngModel)]="searchStr">
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" [style.width]="'30%'">#</th>
            <th scope="col" [style.width]="'30%'">Имя</th>
            <th scope="col" [style.width]="'30%'"> Фамилия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let worker of workers | myfilter: searchStr">
            <th scope="row">{{ worker.id }}</th>
            <td>{{ worker.name }}</td>
            <td>{{ worker.surname }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
